@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  scroll-behavior: smooth;
	--bodyTextColor: #384179;
	--bodyTextSize: 16px;
	--primaryColor: #0A65FC;
	--redColor: #F2002E;
}

body {
  color: var(--bodyTextColor);
  font-size: var(--bodyTextSize);
}
h1, h2, h3, h4, h5, h6 {
  color: #061257;
  font-weight: bold;
}
p {
  line-height: 26px;
}

/* tm-app-screens-slider */
.tm-app-screens-slider {
  .swiper-pagination {
    position: initial;
    margin-top: 40px;

    .swiper-pagination-bullet {
      background-color: #384179;
      width: 10px;
      height: 10px;
      opacity: 1;
      transition: .6s;

      &:hover, &.swiper-pagination-bullet-active {
        background-color: var(--primaryColor);
        width: 25px;
        border-radius: 30px;
      } 
    }
  }
}

@media only screen and (max-width: 767px) {
  .tm-app-screens-slider {
    .swiper-pagination {
      margin-top: 20px;
    }
  }
}
/* End tm-app-screens-slider */

/* tm-testimonials-slider */
.tm-testimonials-slider {
  .swiper-button-prev, .swiper-button-next {
    background-color: #D4EDFF;
    color: var(--primaryColor);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    font-weight: bold;
    transition: .5s;
    top: 0;
    margin: 10px 0 0;

    &::after {
      font-size: 17px;
    }
    &:hover {
      background-color: var(--primaryColor);
      color: #fff;
    }
  }
}

@media only screen and (max-width: 991px) {
  .tm-testimonials-slider {
    .swiper-button-prev, .swiper-button-next {
      width: 30px;
      height: 30px;
      line-height: 30px;

      &::after {
        font-size: 12px;
      }
    }
  }
}
/* End tm-testimonials-slider */

/* mt-app-screens-slider */
.mt-app-screens-slider {
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: #384179;

      &:hover, &.swiper-pagination-bullet-active {
        background-color: #00373E;
      } 
    }
  }
}
/* End mt-app-screens-slider */

/* mt-testimonials-slider */
.mt-testimonials-slider {
  .swiper-pagination {
    position: initial;
    margin-top: 40px;

    .swiper-pagination-bullet {
      background-color: #384179;
      width: 10px;
      height: 10px;
      opacity: 1;
      transition: .6s;

      &:hover, &.swiper-pagination-bullet-active {
        background-color: var(--primaryColor);
        width: 25px;
        border-radius: 30px;
      } 
    }
  }
}
/* End mt-testimonials-slider */

/* game-app-screens-slider */
.game-app-screens-slider {
  .swiper-pagination {
    position: initial;
    margin-top: 40px;

    .swiper-pagination-bullet {
      background-color: #384179;
      width: 10px;
      height: 10px;
      opacity: 1;
      transition: .6s;

      &:hover, &.swiper-pagination-bullet-active {
        background-color: var(--redColor);
        width: 25px;
        border-radius: 30px;
      } 
    }
  }
}

@media only screen and (max-width: 767px) {
  .game-app-screens-slider {
    .swiper-pagination {
      margin-top: 20px;
    }
  }
}
/* End game-app-screens-slider */

@media only screen and (min-width: 1750px) {
  .left-55 {
    left: 55px
  }
}